// send-email-dialog.component.scss
.form-container {
    padding: 16px;
    min-width: 500px;
  }
  
  .form-row {
    margin-bottom: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .spinner-in-button {
    display: inline-block;
    margin-right: 8px;
  }