<mat-dialog-content>
  <form [formGroup]="emailForm">
    <!-- Your existing form controls -->

    <!-- Loading State -->
    <div *ngIf="isLoading" class="loading-state">
      <mat-spinner diameter="40"></mat-spinner>
      <p>Loading professors...</p>
    </div>

    <!-- Error State -->
    <div *ngIf="loadError && !isLoading" class="error-state">
      {{ loadError }}
      <button mat-button (click)="loadProfessors()">Retry</button>
    </div>

    <!-- Content State -->
    <div *ngIf="!isLoading && !loadError">
      <mat-checkbox formControlName="sendToAll">
        Send to all professors
      </mat-checkbox>

      <div *ngIf="!emailForm.get('sendToAll')?.value">
        <h3>Select Professors</h3>
        <mat-selection-list formControlName="selectedProfessors">
          <mat-list-option *ngFor="let prof of professors" [value]="prof.id">
            {{ prof.prenom }} {{ prof.nom }} ({{ prof.email }})
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </form>
</mat-dialog-content>