<mat-sidenav-container>
  <mat-sidenav-content class="">
    <!-- ------------------------------------------------------------------
    En-tête
    ------------------------------------------------------------------ -->
    <mat-toolbar class="topbar topbar-xl m-auto">
      <div class="container full-width p-xs-6">
        <!-- --------------------------------------------------------------- -->
        <div class="branding p-x-0">
          <a [routerLink]="['/']">
            <img
              src="/assets/images/logos/logo.svg"
              class="align-middle m-2"
              alt="logo"
            />
          </a>
        </div>

        <!-- --------------------------------------------------------------- -->

        <span class="flex-1-auto"></span>

        <div class="d-none d-lg-flex">
          <a
            mat-flat-button
            color="primary"
            class="m-l-10"
            [routerLink]="['/authentication/login']"
            >Connexion</a
          >
        </div>

        <!-- Menu Mobile -->
        <button
          mat-icon-button
          (click)="filterNavRight.toggle()"
          class="d-flex d-lg-none"
        >
          <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
        </button>
      </div>
    </mat-toolbar>

    <!-- ------------------------------------------------------------------
   Fin de l'en-tête
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Bannière
    ------------------------------------------------------------------ -->
    <div class="overflow-hidden banner-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div>
              <span class="f-s-16 f-w-600 m-b-16 d-flex align-items-center"
                ><i-tabler name="rocket" class="text-accent m-r-8"></i-tabler
                >Commencez votre parcours d'apprentissage avec</span
              >
              <h1 class="banner-title m-0">
                Améliorez
                <span class="text-primary">Votre Expérience d'Apprentissage </span> avec Notre Plateforme Éducative
              </h1>
              <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle">
                Notre plateforme offre une suite complète d'outils pour que les étudiants et les enseignants collaborent, apprennent et grandissent ensemble.
              </p>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-flex">
            <div class="p-24 banner-slider">
              <div class="d-flex">
                <div>
                  <div class="slider-img">
                    <img
                      src="assets/images/landingpage/img1.png"
                      alt="img1"
                    />
                  </div>
                  <div class="slider-img">
                    <img
                      src="assets/images/landingpage/img1.png"
                      alt="img1"
                    />
                  </div>
                </div>
                <div>
                  <div class="slider-img2">
                    <img
                      src="assets/images/landingpage/img2.png"
                      alt="img1"
                    />
                  </div>
                  <div class="slider-img2">
                    <img
                      src="assets/images/landingpage/img2.png"
                      alt="img1"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    Fin de la bannière
    ------------------------------------------------------------------ -->

  </mat-sidenav-content>

  <!-- ------------------------------------------------------------------
    Barre latérale mobile
    ------------------------------------------------------------------ -->
  <mat-sidenav
    #filterNavRight
    mode="over"
    position="end"
    class="filter-sidebar"
  >
    <div>
      <div class="branding">
        <a [routerLink]="['/']">
          <img
            src="./assets/images/logos/logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>
      </div>

      